body{
    background-image: url(Untitled\ design.png);
    
    background-size: 100%;
    
}

.all{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.a, .b {
    background-color: white;
    width: 300px;
    padding-top: 10px;
    height: 500px;
    justify-content: space-between;
    flex: 1;
    margin-bottom: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photos{
    border: solid;
    width: 260px;
    
}
button{
    height: 10px;
    font-size: 38px;
    height: 60px;
    width: 210px;
    border-radius: 30px;
    background-image: url(button\ back\ 1.jpg);
    background-size: 80%;
    margin-top: 20px;
    margin-bottom: 20px;

}
